<div class="bg-white text-center sm:text-left sm:flex sm:flex-row sm:px-24 sm:py-20 dark:bg-black dark:text-black">
    <div class="sm:flex bg-orange-100 sm:p-5 rounded sm:mr-5 sm:basis-1/2">
        <div class="sm:basis-1/2">
            <h2 class="text-orange-400 font-bold text-xl">25% <span class="text-black">Discount</span></h2>
            <p>In All Products, Only This</p>
            <h2 class="font-bold text-orange-400 mb-5">Monday</h2>
            <a href="#" class="p-3 bg-orange-400 font-semibold rounded">Order Now</a>
        </div>
        <div class="p-5 sm:pt-0 sm:basis-1/2">
            <img class="h-48 w-48 mx-8 sm:mx-0" src="img/cola.png" alt="">
        </div>
    </div>

    <div class="sm:flex bg-fuchsia-50 rounded sm:p-5 sm:basis-1/2">
        <div class="sm:basis-1/2">
            <h2 class=" font-bold text-xl">Sale Offer<span  class="text-orange-400"> 30%</span></h2>
            <p class="mb-8 sm:mb-5 sm:mr-24">We prioritize the use of fresh, locally sourced ingredients, guaranteeing the highest quality  </p>
            
            <a href="img/chiken.png" class="p-3 bg-orange-50 font-semibold border-2 border-orange-400 rounded">Order Now</a>
        </div>
        <div class=" pt-5 sm:pt-0 sm:basis-1/2">
            <img class="h-48 w-56 mx-8 sm:mx-0" src="img/chiken.png" alt="">
        </div>
    </div>
  
</div>