<div class="sm:flex sm:justify-between bg-white dark:bg-black dark:text-gray-200">
    <div class="p-2 text-center sm:m-24">
        <h1 class="font-bold 3xl sm:text-4xl ">Indulge Your Taste With Our Delicious <span class=""> Food </span> </h1>
        <p class="font-light text-base mb-2">A restaurant is a fantasy—a kind of living fantasy in which diners are the most important members of the cast.</p>
        <div class="mt-6">
            <a href="#" class="bg-orange-500 rounded font-bold p-3 text-white">Reserve a Table</a>
        <a href="#" class="border-orange-500 rounded border font-bold p-3 text-black ml-3 dark:bg-black dark:text-gray-200">Online Order</a>
        </div>
       
    </div>
    
    <div>
        <img src="img/food.png" alt="image of burger">
    </div>
</div>