<div class="sm:flex sm:flex-row justify-center sm:justify-between bg-fuchsia-50 dark:bg-white dark:text-black">
    <div class="text-center sm:text-left  basis-1/2 p-2 sm:m-24">
        <h1 class="font-bold  sm:text-2xl pb-4 ">Why Is Our Restraent Best <br>choice for you  </h1>
        <p class="subpixel-antialiased normal-case font-normal text-neutral-500  font-sans text-sm  mb-2 pb-3">At our restaurant, we pride ourselves on delivering an exceptional dining experience that tantalizes the taste buds and creates 
            lasting memories. With an eclectic menu crafted by our seasoned chefs, we offer a 
            fusion of flavors that cater to diverse palates. Our warm and inviting ambiance, coupled with attentive and friendly staff,
             ensures that every guest feels welcomed and
             well taken care of. We prioritize the use of fresh, locally sourced ingredients, guaranteeing the highest
             quality and authenticity in every dish</p>
       <div class="grid grid-cols-2 gap-4 font-semibold" >
        <p><i class="fa-solid p-1.5  rounded fa-medal text-blue-700 bg-blue-100"></i> Best Quality</p>
        <p><i class="fa-solid p-1.5 rounded fa-truck text-red-500 bg-red-100"></i> Delivery</p>
        <p><i class="fa-solid p-1.5 rounded fa-pen-to-square text-yellow-400 bg-amber-100"></i> Pre Booking</p>
        <p><i class="fa-solid p-1.5  rounded fa-circle-check text-lime-500 bg-lime-100"></i> Easy To Order</p>
       </div>
       
    </div>
    
    <div class="basis-1/4 p-5">
        <img class="h-5/6 w-64 mr-52 p-6" src="img/chef.png" alt="image of burger">
    </div>
</div>